.blue {
  background: #6d9dd1;
}
.red {
  background: #e73f3f;
}
.orange {
  background: #f76c27;
}
.yellow {
  background: #e7e737;
}
.perpal {
  background: #7e45d3;
}

.checked {
  background-size: contain;
  background-image: url(../img/checked.png);
}
